<?xml version="1.0" encoding="utf-8"?>

<!-- 
  To use the Peachpie.Avalonia feed to get unstable packages, move this file to the root of your solution.
-->

<configuration>
  <packageSources>
    <clear />
    <add key="PublicNuGet" value="http://v2223073.hosted-by-vdsina.ru/nuget/avalonia-peachpie/v3/index.json" allowInsecureConnections="true" />
  </packageSources>
</configuration>
